# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
build/
out/

# Caches & TS
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache

# Coverage & Testing
coverage/
*.lcov
.nyc_output/

# Environment Variables
.env
.env.*
!.env.example

# Vite / Bundler caches
.vite/
.cache/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Yarn v3+ / pnpm
.pnpm-store
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Tauri / Rust
src-tauri/target/
src-tauri/gen/
src-tauri/binaries/

# Sys files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
desktop.ini
